<?php if ($this->model->id): ?>
<div id="<?= $this->getId('comments'); ?>">
    <?= $this->makePartial('comments', ['comments' => $comments]); ?>
</div>
<?php if (!$this->previewMode): ?>
<div id="<?= $this->getId('write-comment'); ?>">
    <?= $this->makePartial('write_comment'); ?>
</div>
<?= $this->makePartial('mention_popup'); ?>
<?php endif ?>
<?php endif; ?>
