<ul class="comments">
<?php foreach($comments as $comment): ?>
    <li id="<?= $this->getId('comment-' . $comment->id); ?>">
        <?= $this->makePartial('comment', ['comment' => $comment, 'editing' => false]); ?>
    </li>
<?php endforeach; ?>
</ul>
