<div class="comment">
    <div class="comment-meta">
        <span class="comment-author"><?= $comment->author ? $comment->author->first_name . ' ' . $comment->author->last_name : trans('studiobosco.backendcomments::lang.author_removed'); ?></span>
        <span class="comment-date"><?= Backend::dateTime($comment->created_at, ['format' => trans($this->dateFormat)]); ?></span>
    </div>
    <?php if ($editing): ?>
    <div class="form-group">
        <textarea
            id="comment-<?= $comment->id; ?>-body"
            name="<?= $this->formField->getName(); ?>[comment][<?= $comment->id; ?>][body]"
            onfocus="initMentionSelectForComment(this)"
        ><?= $comment->body; ?></textarea>
    </div>
    <button
        class="btn btn-primary"
        data-request="<?= $this->alias; ?>::onUpdateComment"
        data-request-data="comment_id: <?= $comment->id; ?>"
    >
        <?= trans('studiobosco.backendcomments::lang.save'); ?>
    </button>
    <button
        class="btn btn-secondary"
        data-request="<?= $this->alias; ?>::onCancelEditComment"
        data-request-data="comment_id: <?= $comment->id; ?>"
    >
        <?= trans('studiobosco.backendcomments::lang.cancel'); ?>
    </button>
    <button
        type="button"
        class="hidden"
        data-control="popover"
        data-content-from="#comment-mention-select-template-<?= $comment->id; ?>"
    >
    </button>
    <?php else: ?>
    <div class="comment-body"><?= $comment->body_formatted; ?></div>
    <div class="comment-reactions">
        <button
            type="button"
            class="btn comment-add-reaction-btn icon-face-smile"
            title="<?= trans('studiobosco.backendcomments::lang.add_reaction'); ?>"
            data-control="popover"
            data-content-from="#comment-reaction-select-template-<?= $comment->id; ?>"
            title="<?= trans('studiobosco.backendcomments::lang.add_reaction'); ?>"
        >
        </button>
        <script type="text/template" id="comment-reaction-select-template-<?= $comment->id; ?>">
            <div class="comment-reactions-select" id="comment-reaction-select-<?= $comment->id; ?>">
                <div class="popover-head">
                    <input
                        class="form-control comment-reactions-select-search"
                        data-role="search"
                        type="search"
                        value=""
                        autocomplete="off"
                        placeholder="<?= trans('studiobosco.backendcomments::lang.search_emojis'); ?>"
                    />
                    <button type="button" class="close" data-dismiss="popover">&times;</button>
                </div>
                <div class="popover-body">
                    <ul
                        class="comment-reactions-select-emoji-list"
                        data-role="emoji-list"
                    ></ul>
                </div>
            </div>
            <script>initReactionSelectForComment('<?= $comment->id; ?>', '<?= $this->alias; ?>::onToggleCommentReaction')</script>
        </script>
        <?php foreach($comment->reactions->pluck('emoji')->unique() as $key => $emoji): ?>
        <button
            type="button"
            class="btn comment-existing-reaction-btn"
            data-request="<?= $this->alias; ?>::onToggleCommentReaction"
            data-request-data="comment_id: <?= $comment->id; ?>, emoji: '<?= $emoji; ?>'"
            data-toggle="tooltip"
            data-delay="0"
            title="<?= $comment->getFormattedReactionAuthors($emoji); ?>"
        >
            <?= $emoji; ?> <?= $comment->getReactionCount($emoji); ?>
        </button>
        <?php endforeach; ?>
    </div>
    <?php if (!$this->previewMode && $comment->canBackendUserEdit()): ?>
    <div class="comment-actions">
        <button
            class="btn btn-primary"
            data-request="<?= $this->getEventHandler('onEditComment'); ?>"
            data-request-data="comment_id: <?= $comment->id; ?>"
            title="<?= trans('studiobosco.backendcomments::lang.edit_comment'); ?>"
        >
            <i class="icon-pencil"></i>
        </button>
        <button
            class="btn btn-danger"
            data-request="<?= $this->getEventHandler('onDeleteComment'); ?>"
            data-request-confirm="<?= trans('studiobosco.backendcomments::lang.delete_comment_confirm'); ?>"
            data-request-data="comment_id: <?= $comment->id; ?>"#
            title="<?= trans('studiobosco.backendcomments::lang.delete_comment'); ?>"
        >
            <i class="icon-trash"></i>
        </button>
    </div>
    <?php endif; ?>
    <?php endif; ?>
</div>
