<script type="text/template" id="comment-mention-select-template">
    <div
        id="comment-mention-select"
        class="comment-mention-select"
    >
        <div class="popover-head">
            <h4><?= trans('studiobosco.backendcomments::lang.select_user_to_mention'); ?></h4>
            <button type="button" class="close" data-dismiss="popover">&times;</button>
        </div>
        <div class="popover-body">
            <select
                id="comment-mention-select-input"
                class="form-control custom-select comment-mention-select-user-list"
                data-role="user-list"
                onchange="addMention(this)"
            >
                <option selected value="">-</option>
                <?php foreach($this->getMentionableUsers() as $username): ?>
                <option value="<?= $username; ?>">
                    <?= $username; ?>
                </option>
                <?php endforeach; ?>
            </select>
        </div>
    </div>
</script>
